.enlace-header
{
    color: yellow !important;
    font-family: 'Rock Salt', cursive;
}

.color-nav
{
    background-color: black;
}

.enlace-pregunta
{
    margin-right: 40px;
}

.color-boton
{
    background-color: yellow;
}